KERNEL=="ttyUSB*", ATTRS{idProduct}=="YourPID", ATTRS{idVendor}=="YourVID", ATTRS{serial}=="YourSERIAL", SYMLINK+="YOURNAME"

KERNEL=="ttyACM*", ATTRS{idProduct}=="YourPID", ATTRS{idVendor}=="YourVID", ATTRS{serial}=="YourSERIAL", SYMLINK+="YOURNAME"
