SUBSYSTEM=="tty", ATTRS{idProduct}=="YourPID", ATTRS{idVendor}=="YourVID", ATTRS{serial}=="YourSERIAL", SYMLINK+="YOURNAME"

KERNEL=="ttyACM*", KERNELS=="YourKERNALS", ATTRS{idProduct}=="YourPID", ATTRS{idVendor}=="YourVID", ATTRS{serial}=="YourSERIAL", SYMLINK+="YOURNAME"
